.DS_Store
.AppleDouble/
.AppleDouble/.Parent
._*
*.bak
.idea/

# Project
performance_viewer/data/
policy/*.pp
policy/tmp/
mod_selinux/.deps
mod_selinux/.libs/
mod_selinux/mod_selinux.l*
mod_selinux/mod_selinux.o
mod_selinux/mod_selinux.slo
uris.txt
